<footer class="footer">
  <div class="footer-content" style="text-align: center; padding: 0.5rem;">
    <p>Copyright © 2026 KMO Docs.</p>
     <p>
       <a href="{{{siteRootPath}}}/docs-main/1.0/terms.html">Terms of Service</a>
       |
       <a href="{{{siteRootPath}}}/docs-main/1.0/privacy.html">Privacy Policy</a>
     </p>
  </div>
</footer>
{{> footer-scripts}}